<template>
  <div>
    <h4>All items</h4>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Resource</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">URL</th>
              <th scope="col">Modified</th>
          </tr>
          </thead>
          <tbody>
            <tr v-for="item in items" :key="item">
                <td>{{item.resource}}</td>
                <td>{{item.username}}</td>
                <td>top secret</td>
                <td>{{item.url}}</td>
                <td>{{item.modified}}</td>
            </tr>
          </tbody>
      </table>
      <PasswordCreate/>
  </div>
</template>

<script>
import PasswordCreate from './PasswordCreate'
export default {
  name: 'Dashboard',
    components: {PasswordCreate},
    data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      items: [{resource: 'test', username: 'xujames007', url: 'apple.com', modified: 'today'}]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
