<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <h4>Name</h4>
            <input v-model="item.name" placeholder="Name">

            <h4>Username</h4>
            <input v-model="item.username" placeholder="Username">

            <h4>Password</h4>
            <input v-model="item.password" placeholder="Password">

            <h4>Website</h4>
            <input v-model="item.url" placeholder="Website">

            <button class="btn btn-dark" type="submit">Submit</button>
        </form>

    </div>
</template>

<script>
    import ApiService from '../scripts/ApiService'
    export default {
        name: 'PasswordCreate',
        data () {
            return {
                item: {
                    name: '',
                    username: '',
                    password: '',
                    url: ''
                }
            }
        },
        methods: {
            handleSubmit () {
                ApiService.createPassword(this.item, (err, data) => {
                    if (err) {
                        console.log(err)
                    } else {
                        console.log(data)
                    }
                })
                for (const field in this.item) {
                    console.log(this.item[field])
                    this.item[field] = ''
                }
            }
        }
    }
</script>

<style scoped>

</style>
