<template>
    <div class="modal-backdrop">
        <div class="modal">
            <slot name="header">
                <p>hi</p>
            </slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PasswordView'
    }
</script>

<style scoped>

</style>
